extends layout
include bit/comments
include bit/sidebar

mixin path_number(val)


block content
  div.row-fluid
    div.span9
      div
        h3 #{path.title}
        div -- by #{path.createdBy}
        hr
        p #{path.desc}
        h5 Please follow the following steps:
        ul.unstyled
          each step, i in path.steps
            li
              div.path-node-title
                button.circle-badge(data-toggle="collapse", data-target="#path-node-1") #{i + 1}
                a(href=step) #{step}
        hr
        h5 Comments
        +comment_form('/learnpath/' + path.id + '/comment/')
        +comments(path.comments)
    div.span3.well.well-small
      h5 Statistics
      +statistics(path.stat)
      h5 Share
      +sharebtn


