extends layout
include bit/tut_card

mixin tut_image_block(tut)
  div(style="display:block")
    div.leftimage
      img(src=tut.icon)
    div.rightcontent
      a(href='/tutorial/' + tut.id)
        strong #{tut.title}
      |  - by #{tut.createdBy}
      p #{tut.desc.substr(0, 150).concat('...')}
      +topic_tags(tut.acquires)
      +inline_stat(tut.stat)
    div.clearfix

mixin tut_search_item(item)
  div
    a(href='/tutorial/' + item.id)
      strong Loops in Javascript
    span  By #{item.createdBy}
    span
      i.icon-thumbs-up
      | #{item.stat.likes}
    span
      i.icon-eye-open
      | #{item.stat.views}
    br
    +topic_text(item.acquires)
    p #{item.desc}

block content
  h3 Search result for '#{query}':
  div.span9
    each result in results
      h4 #{result.level}
      div
        each tut in result.tuts
          +tut_image_block(tut)
          hr
