extends layout
include bit/sidebar

mixin topic_text(tags)
  each skill in tags
    span.label #{skill}

mixin tut_search_item(item)
  div
    a(href='/tutorial/' + item.id)
      strong Loops in Javascript
    span  By #{item.createdBy}
    span
      i.icon-thumbs-up
      | #{item.stat.likes}
    span
      i.icon-eye-open
      | #{item.stat.views}
    br
    +topic_text(item.acquires)
    p #{item.desc}

block content
  h3 Search result for '#{query}':
  div.span9
    each result in results
      h4 #{result.level}
      ul
        each tut in result.tuts
          li
            +tut_search_item(tut)
