extends layout

block content
  div.span7
    h3 #{tut.title}
    div -- by #{tut.createdBy}
    hr
    p #{tut.desc}
    p Read the tutorial:
    a.span6.well.externtut(href=#{tut.url}) #{tut.url}
    br
    hr
  include bit/sidebar
