include sidebar

mixin topic_text(tags)
  each skill in tags
    a  #{skill}

mixin tut_card(tut)
  div.span2
    div.thumbnail
      img.im(src=tut.icon)
      h5
        a(href='/tutorial/' + tut.id) #{tut.title}
      div
        span By #{tut.createdBy}
      span
        i.icon-tags
        +topic_text(tut.acquires)
      div
        span
          i.icon-thumbs-up
          b #{tut.stat.likes}
        span
          i.icon-eye-open
          b #{tut.stat.views}

mixin tut_image_block(tut)
  div(style="display:block")
    div.leftimage
      img(src=tut.icon)
    div.rightcontent
      a(href='/tutorial/' + tut.id)
        strong #{tut.title}
      |  - by #{tut.createdBy}
      p #{tut.desc.substr(0, 150).concat('...')}
      div.floatleft
        +inline_stat(tut.stat)
      div.floatright
        +topic_tags(tut.acquires)
    div.clearfix

mixin path_image_block(path)
  div(style="display:block")
    div.leftimage
      img(src=path.icon)
    div.rightcontent
      a(href='/learnpath/' + path.id)
        strong #{path.title}
      |  - by #{path.createdBy}
      p #{path.desc.substr(0, 150).concat('...')}
      div.floatleft
        +inline_stat(path.stat)
      div.floatright
        +topic_tags(path.acquires)
    div.clearfix
