mixin topic_text(tags)
  each skill in tags
    a  #{skill}

mixin tut_card(tut)
  div.span3
    div.thumbnail
      img.im(src=tut.icon)
      h5
        a(href='/tutorial/' + tut.id) #{tut.title}
      div
        span By #{tut.createdBy}
      span
        i.icon-tags
        +topic_text(tut.acquires)
      div
        span
          i.icon-thumbs-up
          b #{tut.stat.likes}
        span
          i.icon-eye-open
          b #{tut.stat.views}
